[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "8.1.7"
faker = " 22.2.0"
sqlalchemy = "1.4"
alembic = "1.13.1"

[dev-packages]

[requires]
python_version = "3.10"
